td,th,tr{
  border: 2px solid black;
  border-collapse: collapse;

}

table{
  margin: auto;
  margin-top: 9%;
  border-collapse:collapse;
  text-align:center;
  border:1px solid #00F;
  font-size:12px;
  
  }
  tbody{
    background-color: coral;
  }
  tfoot,thead{
    background-color: mediumslateblue;
  }
  h1{
    margin: auto;
    border-bottom: 2px dotted black;
    color: rosybrown;
    width: fit-content;
  }
  div{
    background-color: slategray;
    height: 100vh;
  }